.header-top{

}
.container-fluid{

}
.row{
    height: 80px;
    background-color: black;
}
.col-sm-7{

}
.col{
    padding-top: 25px;
}
.sectionone{
    height: 500px;
    background-color: black;

}
.container1{
    height: 500px;

}